<!DOCTYPE html>
<html>
  <head>
    <title>Worklog Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><%= render 'layouts/header'%></header>
    <section>
      <div class='container-fluid'>
        <%= yield %>    
      </div>
    </section>
    
  </body>
</html>
